# Python Assignment

## Patricia Llull Sperandio

In [1]:
import pandas as pd
import numpy as np

## Question 1
Open the dataset as a pandas DataFrame named imdb: please note that the
le is .tsv type. Investigate what this is, and how to pass a dierent separator value
sep="" when using pd.read_csv

In [2]:
imdb = pd.read_csv("imdb_2019.tsv", header= 0, sep='\t')

##  Question 2
How many types of titles are there in the column titleType? No for loops allowed!
Check pandas.unique, pandas.Series.value_counts, set

In [3]:
distinct = imdb['titleType'].nunique()
print(f"There are {distinct} distinct title types")
#alternatively:
#distinct_titleTypes = imdb['titleType'].unique() it returns a numpy.ndarray type
#distinct2 =pd.Series.value_counts(imdb['titleType'])
#np.count_nonzero(distinct_titleTypes) #there are 10 different title types
# imdb['titleType'].value_counts() to count the frequency of each title type
#np.count_nonzero(imdb['titleType'].unique())

There are 10 distinct title types

## Question 3
Create a slice of imdb that only contains the following columns: titleType, primaryTitle, startYear, runtimeMinutes

In [4]:
slice = imdb[['titleType', 'primaryTitle','startYear','runtimeMinutes']]
slice

#alternative:
#imdb.loc[:, ['titleType','primaryTitle', 'startYear','runtimeMinutes']]

,titleType,primaryTitle,startYear,runtimeMinutes
0,short,Kokoa,2019.0,13.0
1,short,Martina's Playhouse,2019.0,20.0
2,movie,Mariette in Ecstasy,2019.0,NaN
3,tvMovie,Eine geschlossene Gesellschaft,2019.0,NaN
4,short,Ambulans,2019.0,11.0
...,...,...,...,...
301334,tvEpisode,Talent Coaching with IMOR's Bianca Desmore Mit...,2019.0,NaN
301335,tvEpisode,Escape,2019.0,NaN
301336,tvEpisode,Tinne Oltmans,2019.0,NaN
301337,tvEpisode,Luc Janssens,2019.0,NaN
301338,tvEpisode,Danira Boukhriss Terkessidis,2019.0,NaN

## Question 4
Create a subset of imdb named tvEpisodes_2019 that only includes the type
tvEpisodes

In [5]:
#subset a dataframe to get all rows and columns that satisfy a condition for one column
tvEpisodes_2019 = imdb[imdb['titleType'] == 'tvEpisode']
tvEpisodes_2019
#alternative= imdb.query("titleType == 'tvEpisode'")

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
21,758955.0,tt0782666,tvEpisode,Save the Duckling!,Save the Duckling!,0.0,2019.0,NaN,NaN,NaN
30,969426.0,tt10001058,tvEpisode,Le grand saut,Le grand saut,0.0,2019.0,NaN,51.0,NaN
32,969458.0,tt10001110,tvEpisode,The Interviews,The Interviews,0.0,2019.0,NaN,NaN,NaN
34,969464.0,tt10001120,tvEpisode,The New Guy,The New Guy,0.0,2019.0,NaN,NaN,NaN
35,969465.0,tt10001122,tvEpisode,The New Girl,The New Girl,0.0,2019.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
301334,6591633.0,tt9916776,tvEpisode,Talent Coaching with IMOR's Bianca Desmore Mit...,Talent Coaching with IMOR's Bianca Desmore Mit...,0.0,2019.0,NaN,NaN,NaN
301335,6591634.0,tt9916778,tvEpisode,Escape,Escape,0.0,2019.0,NaN,NaN,NaN
301336,6591640.0,tt9916790,tvEpisode,Tinne Oltmans,Tinne Oltmans,0.0,2019.0,NaN,NaN,NaN
301337,6591646.0,tt9916802,tvEpisode,Luc Janssens,Luc Janssens,0.0,2019.0,NaN,NaN,NaN
301338,6591650.0,tt9916810,tvEpisode,Danira Boukhriss Terkessidis,Danira Boukhriss Terkessidis,0.0,2019.0,NaN,NaN,NaN

## Question 5
Percentage of adult films over total releases in 2019. Check pd.Series.mean

In [6]:
# imdb.describe() get basic stats for numeric columns

percentage_adult =round(pd.Series.mean(imdb['isAdult']), 4)
print(f"the percentage of adult movies is {percentage_adult*100}%")

#alternative: 
     #slice_adult= imdb[imdb['isAdult']==1]
     #percentage = round(len(slice_adult)/len(imdb) *100, 3)
     #print(f"the percentage of adult movies is {percentage}%")

the percentage of adult movies is 2.97%

## Question 6
Create a column named words_in_title that contains the total number of
words in the title. Use map alongside a function or a lambda function.

In [7]:
# if we had to remove the na to remove NA: imdb.drop(imdb[imdb['primaryTitle'].isna()].index)
#imdb[imdb['originalTitle'].isna()]

imdb['words_in_title'] = imdb['originalTitle'].map(lambda x: len(str(x).split()))
#alternatives:
#1.
#def get_count(words_to_count):
 #   return len(str(words_to_count).split()) # set as string because the column data type is object i.e. a mix         
#imdb['words_in_title'] = imdb['originalTitle'].map(get_count)
#2. imdb['words_in_title'] = imdb['originalTitle'].str.count(' ') + 1
imdb

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,words_in_title
0,87501.0,tt0089435,short,Kokoa,Kokoa,0.0,2019.0,NaN,13.0,NaN,1
1,89512.0,tt0091490,short,Martina's Playhouse,Martina's Playhouse,0.0,2019.0,NaN,20.0,NaN,2
2,114407.0,tt0116991,movie,Mariette in Ecstasy,Mariette in Ecstasy,0.0,2019.0,NaN,NaN,NaN,3
3,126556.0,tt0129960,tvMovie,Eine geschlossene Gesellschaft,Eine geschlossene Gesellschaft,0.0,2019.0,NaN,NaN,NaN,3
4,166388.0,tt0172112,short,Ambulans,Ambulans,0.0,2019.0,NaN,11.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
301334,6591633.0,tt9916776,tvEpisode,Talent Coaching with IMOR's Bianca Desmore Mit...,Talent Coaching with IMOR's Bianca Desmore Mit...,0.0,2019.0,NaN,NaN,NaN,15
301335,6591634.0,tt9916778,tvEpisode,Escape,Escape,0.0,2019.0,NaN,NaN,NaN,1
301336,6591640.0,tt9916790,tvEpisode,Tinne Oltmans,Tinne Oltmans,0.0,2019.0,NaN,NaN,NaN,2
301337,6591646.0,tt9916802,tvEpisode,Luc Janssens,Luc Janssens,0.0,2019.0,NaN,NaN,NaN,2
301338,6591650.0,tt9916810,tvEpisode,Danira Boukhriss Terkessidis,Danira Boukhriss Terkessidis,0.0,2019.0,NaN,NaN,NaN,3

## Question 7
What's the average value of runtimeMinutes for the type short?

In [8]:
short_movies = imdb[imdb['titleType']=='short']
average_runtime= round(pd.Series.mean(short_movies['runtimeMinutes'], skipna= True),1) #the default is skipna= True just add it here to remember
print(f"the average runtime for short movies released in 2019 is: {average_runtime} minutes")

the average runtime for short movies released in 2019 is: 12.5 minutes

## Question 8
Filter imdb to return tvMovie type with 3 or more words in the title, and
less than 75 minutes of runTimeMinutes

In [9]:
subset =imdb[(imdb['titleType']=='tvMovie') & (imdb['words_in_title'] >=3) &(imdb['runtimeMinutes']<75)]
subset
#alternative:
#alternative2= imdb.query("titleType =='tvMovie' and words_in_title>=3 and runtimeMinutes<75")
#alternative2

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,words_in_title
10,290068.0,tt0302617,tvMovie,Great Bear Rainforest,Great Bear Rainforest,0.0,2019.0,NaN,41.0,NaN,3
77,970092.0,tt10002188,tvMovie,"La Sagi, una pionera del BarÃ§a","La Sagi, una pionera del BarÃ§a",0.0,2019.0,NaN,54.0,NaN,6
655,972490.0,tt10006422,tvMovie,Warrior Women of Dahomey,Warrior Women of Dahomey,0.0,2019.0,NaN,60.0,NaN,4
870,974152.0,tt10009314,tvMovie,Peter Kraus: Immer in Bewegung,Peter Kraus: Immer in Bewegung,0.0,2019.0,NaN,59.0,NaN,5
1549,977406.0,tt10015036,tvMovie,Arts Across the Heartland,Arts Across the Heartland,0.0,2019.0,NaN,42.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...
300451,6587871.0,tt9908916,tvMovie,Restless Legs Syndrome: The New Cure?,Restless Legs Syndrome: The New Cure?,0.0,2019.0,NaN,60.0,NaN,6
300975,6590161.0,tt9913680,tvMovie,Olympiad drÃ¶mmen 2020,Olympiad drÃ¶mmen 2020,0.0,2019.0,NaN,27.0,NaN,3
301155,6591048.0,tt9915520,tvMovie,Fascism i en svart bil,Fascism i en svart bil,0.0,2019.0,NaN,55.0,NaN,5
301240,6591316.0,tt9916112,tvMovie,"A Priest, a Rabbi, and a Nun walk into a...","A Priest, a Rabbi, and a Nun walk into a...",0.0,2019.0,NaN,21.0,NaN,10
301247,6591353.0,tt9916192,tvMovie,Danielle Darrieux: Il est poli d'Ãªtre gai!,Danielle Darrieux: Il est poli d'Ãªtre gai!,0.0,2019.0,NaN,53.0,NaN,7